body {
    width: 100%;
    height: 100%;
    font-family:'Montserrat';  
}

.white-logo {
    background-image: linear-gradient(110deg, #EF186C 0%, #6a5bf1 70%);
    background: url("../img/HomEvents_white_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:25px;
    width: 150px;
    height: 60px;
}
  
.color-logo {
    background: url("../img/HomEvent_color_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:25px;
    width: 150px;
    height: 60px;
}

.timeline-panel {
    background-color: #FFFFFF;
}

.contact a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

code {
    font-family:'Montserrat';
    color: green;
}

.font_white {
    color: #FFFFFF;
}

.text-primary {
    color: #f4623a!important;   
}

.font_pink {
    color:#DE1676;
}

.font_grey {
    color: #6c757d!important;
}

.font_blue {
    color: #33CEFF;
}

#about {
    background-color: #e8e7e5;
}

.service, .about {
    color: #ee0979;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.display-4 {
    font-weight: 700;
}

.navbar {
    font-size: 14px;
    font-weight: bold;
}

.bg-dark {
    opacity: 0.8;
}

.nav-link {
    color:#B5C3C4;
    font-size: bold;
}

header {
    background: linear-gradient(0deg,#ff6a00 0,#ee0979 100%);
}

.contact {
    background-color: #2c3e50;
}

.btn-round {
    border-radius: 2.5rem;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    color: #FFFFFF;
    background-color: #ee0979;
    border-color: #ee0979;
}

.btn-round:hover {
    color: #FFFFFF;
}

.btn-social {
    border-radius: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.py-5 {
    padding-top:6rem !important;
}


/* top-scroll */
#return-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background: #ABB2B9;
    background: #ABB2B9  ;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}

#return-to-top img {
    color: #fff;
    margin: 0;
    position: relative;
    left: 12px;
    top: 12px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;
}

#return-to-top:hover {
    background: #566573  ;
}

#return-to-top:hover img {
    color: #fff;
    top: 5px;
}

.content {
    height: 55px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 8px;
}

/* effect-coverflow */
.swiper_carousel { 
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    height: 250px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 248px;
    border-radius: 1.15rem;
}

.swiper_para {
    font-size: 12px;
    padding: 5px;
}


.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }

footer {
    background: #000000;
}
